<header>
	<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
	<div class="container-fluid">
		<a class="navbar-branch" href="/">
			<img class="img-logo" src="https://scontent.fvca1-1.fna.fbcdn.net/v/t1.0-9/135190303_967861397076543_1418120751984542560_n.jpg?_nc_cat=111&ccb=3&_nc_sid=09cbfe&_nc_ohc=un-vwx6nqG0AX_pFeB5&_nc_ht=scontent.fvca1-1.fna&oh=413b580e816924e0e7339db73731b1d8&oe=605FF33C">
		</a>
		<div class="search-box">
			<input class="search-input" type="text" placeholder="Tìm kiếm">
			<button class="btn-search">
				<i class="fas fa-search white"></i>
			</button>
		</div>	
		<button class="navbar-toggler" type="button" data-toggle="collapse" 
			data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item separate">
					<a class="nav-link" href="#">Đăng nhập</a>
				</li>
				<li class="nav-item separate">
					<a class="nav-link" href="#">Đăng ký</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<i class="fas fa-shopping-cart"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
</header>


{{!-- <!-- Header --> --}}
